@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  backdrop-filter: blur(2px);
  background-image: url("/assets/images/cypher-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  label {
    @apply text-white;
  }
}

@layer components {
  .outer-container {
    @apply rounded-xl border border-white/50 p-2;
  }

  .container {
    @apply h-full w-full rounded-lg bg-midnight-blue px-10 py-6;
  }

  .form-field {
    @apply flex flex-col gap-2;
  }

  .input {
    @apply rounded-lg bg-steel-blue px-3 py-1 text-lg text-white focus:outline-white;
  }

  .input-error {
    @apply bg-red-400;
  }

  .btn {
    @apply cursor-pointer rounded-lg px-4 py-2 text-center text-lg disabled:cursor-default disabled:opacity-70;
  }

  .primary-btn {
    @apply bg-royal-blue font-bold text-white transition-all duration-200 enabled:hover:bg-royal-blue-hover;
  }

  .secondary-btn {
    @apply border-2 border-steel-blue bg-midnight-blue text-white transition-all duration-200 enabled:hover:bg-steel-blue/50;
  }
}
