<main class="flex min-h-screen items-center justify-center p-20">
  <div class="outer-container h-[800px] w-[1400px]">
    <div class="container flex p-0">
      <div class="sidebar"></div>
      <div class="flex flex-1 flex-col">
        <div class="navbar justify-between flex items-center">
          <app-title fontSize="text-lg" />
          <div class="flex items-center gap-4">
            <div class="flex flex-col items-center text-sm">
              <p>Logged in as:</p>
              <p class="font-bold text-royal-blue">
                {{ (currentUser$ | async)?.email }}
              </p>
            </div>
            <button (click)="logout()" class="group h-6 w-6">
              <mat-icon
                class="text-white/50 transition-all duration-200 group-hover:text-white"
                >logout</mat-icon
              >
            </button>
          </div>
        </div>
        <div class="flex h-full w-full items-center justify-center">
          <router-outlet />
        </div>
      </div>
    </div>
  </div>
</main>
